
C-Up     ::  EditorMoveForward
C-Down   ::  EditorMoveBackward
C-Left   ::  EditorMoveLeft
C-Right  ::  EditorMoveRight
C-S-Up   ::  EditorMoveUp
C-S-Down ::  EditorMoveDown

C-C     ::  EditorCopySelection
Escape  ::  EditorClearSelection
Delete  ::  EditorDeleteSelection

LeftMouse :: EditorSelect
C-LeftMouse  :: EditorMultiSelect
S-LeftMouse  :: EditorSelectRange